@*@model IEnumerable<BravoNews.ViewComponents.AdvertisementRightViewComponent>*@
@model BravoNews.Models.ViewModels.dbAdvertisementVM
@*@model IEnumerable<BravoNews.Models.Category>*@
    
   

     @foreach (var item in Model.dbAdvertisement.Take(3))
     {

    <div class="col-md-12">
                
             <div class="card" >
            <a href="@item.LinkText">
            <img src="@item.ImageLink" class="card-img-top" alt="...">
            </a>
             </div>
            </div>
     }

    