

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />

<div class="container">
 <form method="post">
 <h3>Add a new role</h3>
 <input type="text" id="roleName" name="roleName" value="">
        <button type="submit" class="btn btn-secondary btn-md">Submit</button>
 </form>

<br /><br /><br />
<div>
    <a href="AdminPages" class="btn btn-link btn-lg" role="button">Back</a>
</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />