@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<div class="container">
    <h2 style="text-align:center">We are sorry you unsubscribed!</h2>
    <br />
<img style="padding-left:50px" src="https://thumbs.dreamstime.com/b/broccoli-mascot-background-sad-pose-flat-design-style-your-branding-109533780.jpg" />
</div>