@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

<div class="container">
<h2 style="text-align:center">Thank you for sending us a message</h2>
<img style="padding-left:40px" src="https://friendlystock.com/wp-content/uploads/2018/05/7-broccoli-mascot-hugging-heart-icon-cartoon-clipart.jpg" />
</div>