@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<h1 style="text-align:center" class="heading">Bravo News</h1>
   
<body>
    <div style="text-align:center;">
    <div style="text-align:center; display:inline-block; border: solid #07528b 5px; padding:20px">

    <h2>Thank you for subscribing!</h2>
    <br />
    <h3>Your subscription is now active. We hope you enjoy your premium experience.</h3>
    <br />
    <br />
    <h5>An email recepit including the details about your subscription have been sent.</h5>


</div>
    </div>
    <br />
<div style="text-align:center">
    <a href="Index" class="btn btn-link btn-lg" role="button">Return to home page</a>
</div>
    <br />
    <br />
    <br />
    <br />
<br />
</body>
