@model WeatherForecast



<div style="color:#07528b; float:right; width:50%;margin-right:0%">

    @(Model.TemperatureC)&deg;C <img src="@Model.Icon.Url" style="width:40%; float:right;margin-right:0%; margin-bottom: 10%;  " /> 
  @(Model.City)

</div>